@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');

$desktop-width: 960px;

.NavigationMenu {

  .full {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 16px;
    
    a {
      text-decoration: none;
      color: #6A696A;
    }

    ul {
      padding-left: 40px;
      padding-right: 40px;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .hamburger {
    height: auto;
    position: absolute;
    top: 30px;
    left: 10px;

    img {
      width: 25px;
    }
  }

  @media (min-width: $desktop-width) {
  
    .hamburger {
      display: none;
    }

  }
  
  @media (max-width: $desktop-width - 1) {

    .full {
      display: none;
    }

  }


}

