.SearchBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto 10px auto;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
  }

  input {
    font-style: italic;
    width: 250px;
    font-size: 15px;
    outline: none;
    border: none;
  }

  .magnifier::before {
    color: black;
    content: "🔍"
  }

  .results {
    position: absolute;
    z-index: 2;
    width: 400px;
    height: 200px;
    top: 50px;
    left: 50%;
    transform:translate(-50%);
    overflow-y: scroll;
    overflow-x: scroll;
    border: 1px solid lightgray;
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .results ul {
    padding-left: 20px;
  }

  .results li {
    list-style-type: none;
  }

  li:not(:first-child) {
    margin-top: 15px;
  }

  .Loader {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
