$desktop-width: 960px;

$custom-gray: #6A696A;

.ServiceMenu {

  .full {
    display: flex;
    justify-content: center;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;

    ul {
      padding: 0;
      display: flex;
      list-style-type: none;
    }

    li {
      padding-left: 8px;
      padding-right: 8px;
    }

    li:not(:first-child) {
      border-left: 1px solid $custom-gray;
    }

    a {
      color: $custom-gray;
      text-decoration: none;
    }

  }

  .bag {
    position: absolute;
    top: 30px;
    right: 10px;
    
    img {
      width: 25px;
      height: auto;
    }
  }

  @media (min-width: $desktop-width) {

    // On desktop this menu goes in the top-right corner
    position: absolute;
    top: 0;
    right: 0;
  
    .bag, .stores {
      display: none;
    }

  }
  
  @media (max-width: $desktop-width - 1) {

    // On mobile the bag icon is displayed
    .purchases, .stockists {
      display: none;
    }

  }

}

