$desktop-width: 960px;

@mixin centered {
  position: relative;
  margin: 0 auto;
}

@mixin top-right {
  position: absolute;
  top: 0;
  right: 0;
}

@mixin hidden {
  display: none;
}

.App {

  @media (min-width: $desktop-width) {
    @include centered;
    width: $desktop-width;
  }

  @media (max-width: $desktop-width - 1) {
    @include centered;
    overflow: hidden;
  }
  
  
}